.region {
  background-color: white;
  border-radius: 12px;
  border-width: 2px;
  border-color: black;

  & > * {
    margin-inline: auto;
  }

  padding: 16px;
}

.target {
  /* TODO: write your code here. */
}
