.region {
  background-color: white;
  border-radius: 12px;
  border-width: 2px;
  border-color: black;

  align-content: center;
  :is(& > *) {
    margin-inline: auto;
  }

  padding: 16px;

  @media (min-width: 640px) {
    padding: 32px;
  }
}

.demo {
  margin-left: auto;
  margin-right: auto;
}

.target {
  background-color: lightgray;
  padding: 12px 16px;

  border-radius: 100px;

  /* TODO: write your code here. */
}
